.logo {
    font-size: xx-large;
    color: black;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 15px; 
    text-align: right;
    height: 17px;
}
#mainblock {
   
    width: 266px;
    border: 2px solid black;
    background-color: #7f7679;
    border-radius: 20px;
}
.calcrow {
    height: 60px;
    margin-left: 15px;
   
}
.calcrow1 {
    height: 60px;
    margin-top: 30px;
    margin-left: 15px;
   
}
.calcbtn {
    border: 1px solid black;
    height: 30px;
    width: 55px;
    display: inline-block;
    font-size: 1,5em;
    text-align: center;
    line-height: 30px;
    background-color: #e7e8e6;
    border-radius: 5px;
}
#calcresbtn {
    height: 40px;
    
    border: 1px solid black;
    margin-right: 10px;
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
 }
 #display {
    border: 3px solid black;
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
     padding: 10px;
    background-color: #bbbbbb;
    text-align: center;
    width: 215px;
    height: 33px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* margin-top: 15px; */
 }
 .calcbtn:hover,
#calcresbtn:hover {
   cursor: pointer;
   box-shadow: 0px 0px 10px #cdc5c2;
}